<a href="https://colab.research.google.com/github/Prasad0770/PythonProgammingII/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Section A

In [ ]:
#1
def divide(a,b,c):
  sum1 =[]
  add1 = 0
  for i in range(a,b+1):
    if i%c==0:
      sum1.append(i)
    else:
      pass
  if sum(sum1)==0:
    print("no number between", a ,"and", b, "can be evenly divided by ", c)
  else:
    total = sum(sum1)
    print("the sum of the numbers that are evenly divided by ", c, "from the range  ", a ,"to ",  b,"is",total)
divide(1,10,2)

the sum of the numbers that are evenly divided by  2 from the range   1 to  10 is 30

In [ ]:
#2
def replace():
  print("Enter a string: ")
  str =input()
  print("enter desired character: ")
  char=input()
  newstr= ""
  for i in range(len(str)):
    if str[i]=='a' or str[i]=='e'or str[i]=='i'or str[i]=='o'or str[i]=='u' :
      newstr = newstr +char
    else:
      newstr = newstr +str[i]
  print("\nOriginal String: ", str)
  print("New string: ", newstr)
replace()

Enter a string:
Prasad
enter desired character:
x

Original String:  Prasad
New string:  Prxsxd

In [ ]:
#3
def fact(a):
  if a ==1:
    return 1
  else:
    return a*(a-1)

x = int(input())
res =(x)
print(res)

In [ ]:
#4
def checkexpression(s):
  expres = eval(s)
  if expres:
    return True
  else:
    return False
  
checkexpression("2<8<24")

True

In [ ]:
#5
def hamming(stri1 ,stri2):
  i = 0
  count=0
  while i<len(stri1):
    if stri1[i] != stri2[i]:
      count += 1
    i +=1
  print("Hamming distance between" ,stri1, "and",stri2,"is :",count)

hamming("abcde", "bcdef")

Hamming distance between abcde and bcdef is : 5

#Section B

In [ ]:
#1
def filter_list(l):  
    output = []
    for i in l:  
        if type(i) != str:  
            output.append(i)  
    return output

print(filter_list([1,2,3,67,'afsd',42,5]))

[1, 2, 3, 67, 42, 5]

In [ ]:
  #2
  s =input()
  reverse = ""
  for i in range(len(s)-1,-1,-1):
    reverse += s[i]
  print(reverse)

45
54

In [ ]:
#3
list=[1,2,3,4,5,6]
first=list[0]
middle=list[1:-1]
last=list[-1]
print("first =",first )
print("middle =",middle)
print("last = ",last)

first = 1
middle = [2, 3, 4, 5]
last =  6

In [1]:
#4
def fact(n):
   if n == 1:
       return n
   else:
       return n*fact(n-1)

num = int(input("Enter the number : "))


if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", fact(num))

Enter the number : 5
The factorial of 5 is 120

In [ ]:
#5
def move_to_end(array, Move):
    i = 0
    s = len(array) - 1
    while (i < s):
        while (i < s and array[s] == Move):
            s-=1
  
        if (array[i] == Move):
            array[i], array[s] = array[s] , array[i]
        i += 1
    return array

arr = ['x', 'x', 'x', 'y']
k = 'x'
res = move_to_end(arr, k)
for i in range(len(arr)):
    print(res[i] ,end= " ")

y x x x

#Section C

In [ ]:
#1
def repstr(str):
    return ''.join([c+c for c in str])

print(repstr('String'))

SSttrriinngg

In [ ]:
#2
def reverse_func(args):
	if isinstance(args, bool):
		return not args
	else:
		return('boolean expected')

def reverse(args=None):
	return not args if type(args) == bool else "boolean expected"

print(reverse(True)) 
print(reverse(False)) 
print(reverse(0)) 
print(reverse(None))

False
True
boolean expected
boolean expected

In [ ]:
#3
def funct2(a):
    result = 0.5
    for i in range(a):
        result *= 2
    
    return result / 1000 
funct2(1)

0.001

In [ ]:
#4
test1 = "PrasadBhor"
 

print("The original string is : " + str(test1))
 

result = [idx for idx in range(len(test1)) if test1[idx].isupper()]
 

print("Uppercase elements indices : " + str(result ))

The original string is : ShreyasHundekar
Uppercase elements indices : [0, 7]

In [ ]:
#5

test_list=[i for i in range (5) if(i%2==0)]

print(test_list)

[0, 2, 4]

#Section D

In [ ]:
#1
list1 = [3,4,5,"Prasad", "Bhor"]
output = [x for x in list1 if type(x) != str]
print(output)

[3, 4, 5]

In [ ]:
#2
def add(list1):
    sum = 0
    index = []
    for i in list1:
        index.append(list1.index(i,sum) + i)
        sum+=1
    return index

add([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [ ]:
#3
import math
Pi = math.pi
def volume1(r, h):
    return (1 / 3) * Pi * r * r * h
def surface_area(r, s):
    return Pi * r * s + Pi * r * r
radius = float(2)
height = float(3)
slant_height = float(5)
print( "Volume Of Cone : ", volume1(radius, height) )
print( "Surface Area Of Cone : ", surface_area(radius, slant_height) )

Volume Of Cone :  12.566370614359172
Surface Area Of Cone :  43.982297150257104

In [ ]:
#5
def missing_number(list1):

   for n in range(1,11):

       if n not in list1:

           print(n)

list1 = (1,3,4,5,6,7,8,9,10)

missing_number(list1)

2